body{
    background-image:url('../photo/4.jpg'); 
    background-size: 100% ;
    color: #80b3ff;
    background-attachment: fixed;
}
.first{
    color: #80b3ff;
    font-size: 100px ;
    position:absolute;
    top: 10%
 
    
    
}
.eg{
    position: fixed;
    top:200px;
    left: 30px;
    font-size: 90px;
    color:#80b3ff;
    text-decoration: none;
}
.a3rad{
    text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color:#002966;
  width:auto;
  position: sticky ;
  align-items: center;
  top:40px;
  left: 37.5%;
  position: fixed;
  z-index: 9999999999999999;
  border: 2px outset white;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #80b3ff;
}
.pre{
  top: 40%;
  left: 50px;
  width: 30%;
  font-size: 30px;
  position: absolute;
  text-align: justify;
  background: #e6f0ff;
  padding:15px;
}

.photo{
    width:300px;
    position: fixed;
    padding: 0px;
    top: 30%;
    left: 70%;
    border: 2px outset #000;
   
}
.wphoto{
     width:300px;
    position: fixed;
    padding: 0px;
    top: 30%;
    left: 70%;
    border: 2px outset #000;
}
.photoo{
     width:300px;
    position: fixed;
    padding: 0px;
    top: 30%;
    left: 70%;
    border: 2px outset #000;
}
.pree{
    top: 35%;
  left: 250px;
  width: auto;
  font-size: 30px;
  position: absolute;
  text-align: justify;
  background: #e6f0ff;
  padding:0px;
 
}
a{
     text-decoration: none;
}
.photooo{
     width:300px;
    position: fixed;
    padding: 0px;
    top: 50%;
    left:150px;
    border: 2px outset #000;
}